JSON/flows.json
[{"id":"638de424.ba160c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"984c3ea4.1713b","type":"function","z":"638de424.ba160c","name":"","func":"global.set(\"s\",msg.payload.s)\nglobal.set(\"al\",msg.payload.al)\nglobal.set(\"ac\",msg.payload.ac)\nglobal.set(\"ip\",msg.payload.ip)\nglobal.set(\"vmp\",msg.payload.vmp)\nglobal.set(\"nvm\",msg.payload.nvm)\nglobal.set(\"tmin\",msg.payload.tmin)\nglobal.set(\"tcall\",msg.payload.tcall)\nglobal.set(\"tchar\",msg.payload.tchar)\nglobal.set(\"tem\",msg.payload.tem)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"tec\",msg.payload.tec)\nglobal.set(\"tnm\",msg.payload.tnm)\nglobal.set(\"tn\",msg.payload.tn)\nglobal.set(\"tnc\",msg.payload.tnc)\nglobal.set(\"tm\",msg.payload.tm)\nglobal.set(\"ti\",msg.payload.ti)\nglobal.set(\"tic\",msg.payload.tic)\nglobal.set(\"ncsc\",msg.payload.ncsc)\n\nvar apikey=\"QsRjDpD8jjhSJZLrMwx7zTsXIws28Ll8Cq5mS9eQFAmc\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":120,"wires":[["1d81bf08.d94fa1"]]},{"id":"d045078a.03b568","type":"ui_form","z":"638de424.ba160c","name":"","label":"","group":"a994a4ec.f85f38","order":4,"width":0,"height":0,"options":[{"label":"state","value":"S","type":"text","required":true,"rows":null},{"label":"account_length","value":"al","type":"number","required":true,"rows":null},{"label":"area code","value":"AC","type":"text","required":true,"rows":null},{"label":"international plan","value":"IP","type":"text","required":true,"rows":null},{"label":"voice mail plan","value":"VMP","type":"text","required":true,"rows":null},{"label":"number_vmail_messages","value":"NVM","type":"number","required":true,"rows":null},{"label":"total_day_minutes","value":"TDM","type":"number","required":true,"rows":null},{"label":"total_day_calls","value":"TCALL","type":"number","required":true,"rows":null},{"label":"total_day_charge","value":"TCHAR","type":"number","required":true,"rows":null},{"label":"total_eve_minutes","value":"TEM","type":"number","required":true,"rows":null},{"label":"total_eve_calls","value":"TE","type":"number","required":true,"rows":null},{"label":"total_eve_charge","value":"TEC","type":"number","required":true,"rows":null},{"label":"total_night_minutes","value":"TNM","type":"number","required":true,"rows":null},{"label":"total_night_calls","value":"TN","type":"number","required":true,"rows":null},{"label":"total_night_charge","value":"TNC","type":"number","required":true,"rows":null},{"label":"total_intl_minutes","value":"TM","type":"number","required":true,"rows":null},{"label":"total_intl_calls","value":"TI","type":"number","required":true,"rows":null},{"label":"total_intl_charge","value":"TIC","type":"number","required":true,"rows":null},{"label":"number_customer_service_calls","value":"NCSC","type":"number","required":true,"rows":null}],"formValue":{"S":"","al":"","AC":"","IP":"","VMP":"","NVM":"","TDM":"","TCALL":"","TCHAR":"","TEM":"","TE":"","TEC":"","TNM":"","TN":"","TNC":"","TM":"","TI":"","TIC":"","NCSC":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":140,"wires":[["984c3ea4.1713b","1a58bbd7.bbe934"]]},{"id":"1a58bbd7.bbe934","type":"debug","z":"638de424.ba160c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":180,"wires":[]},{"id":"1d81bf08.d94fa1","type":"http request","z":"638de424.ba160c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":120,"wires":[["e39c530.25f13b","f41f79a.376f988"]]},{"id":"e39c530.25f13b","type":"function","z":"638de424.ba160c","name":"","func":"var s = global.get('s')\nvar al = global.get('al')\nvar ac = global.get('ac')\nvar ip = global.get('ip')\nvar vmp = global.get('vmp')\nvar nvm = global.get('nvm')\nvar tmin = global.get('tmin')\nvar tcall = global.get('tcall')\nvar tchar = global.get('tchar')\nvar tem = global.get('tem')\nvar te = global.get('te')\nvar tec = global.get('tec')\nvar tnm = global.get('tnm')\nvar tn = global.get('tn')\nvar tmc = global.get('tmc')\nvar tm = global.get('tm')\nvar ti = global.get('ti')\nvar tic = global.get('tic')\nvar ncsc = global.get('ncsc')\n\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token}\nmsg.payload={\"input_data\": [{\"fields\": \n[\"state\",\" account_length\",\"area_code\",\"international_plan\",\"voice_mail_plan\",\"number_vmail_messages\",\"total_day_minutes \",\n\"total_day_calls\",\"total_day_charge\",\"total_night_minutes\",\"total_night_calls\",\"total_night_charge\",\"total_intl_minutes\",\"total_intl_calls\",\n\"total_intl_charge\",\"number_customer_service_calls\"],\"values\": [[s,al,ac,ip,vmp,nvm,tmin,tcall,tchar,tem,te,tec,tnm,tn,tmc,tm,ti,tic,ncsc]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":120,"wires":[["2cc3d9dd.85c586"]]},{"id":"f41f79a.376f988","type":"debug","z":"638de424.ba160c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"2cc3d9dd.85c586","type":"http request","z":"638de424.ba160c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/12b25112-7921-4e6d-81d0-4803d90a0bfd/predictions?version=2020-11-09","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":120,"wires":[["b92cd370.d0b14","bd593b3d.f8b028"]]},{"id":"bd593b3d.f8b028","type":"debug","z":"638de424.ba160c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":180,"wires":[]},{"id":"41db4da1.41f3f4","type":"function","z":"638de424.ba160c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":80,"y":700,"wires":[[]]},{"id":"b92cd370.d0b14","type":"ui_text","z":"638de424.ba160c","group":"a994a4ec.f85f38","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":120,"wires":[]},{"id":"ff7d010.05712","type":"ui_dropdown","z":"638de424.ba160c","name":"","label":"state","tooltip":"","place":"Select option","group":"a994a4ec.f85f38","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"AK","value":"AK","type":"str"},{"label":"AZ","value":"AZ","type":"str"},{"label":"AR","value":"AR","type":"str"},{"label":"CA","value":"CA","type":"str"},{"label":"CO","value":"CO","type":"str"},{"label":"CT","value":"CT","type":"str"},{"label":"DE","value":"DE","type":"str"},{"label":"DC","value":"DC","type":"str"},{"label":"FL","value":"FL","type":"str"},{"label":"GA","value":"GA","type":"str"},{"label":"HI","value":"HI","type":"str"},{"label":"ID","value":"ID","type":"str"},{"label":"IL","value":"IL","type":"str"},{"label":"IN","value":"IN","type":"str"},{"label":"IA","value":"IA","type":"str"},{"label":"KS","value":"KS","type":"str"},{"label":"KY","value":"KY","type":"str"},{"label":"LA","value":"LA","type":"str"},{"label":"ME","value":"ME","type":"str"},{"label":"MD","value":"MD","type":"str"},{"label":"MA","value":"MA","type":"str"},{"label":"MI","value":"MI","type":"str"},{"label":"MN","value":"MN","type":"str"},{"label":"MS","value":"MS","type":"str"},{"label":"MO","value":"MO","type":"str"},{"label":"MT","value":"MT","type":"str"},{"label":"NE","value":"NE","type":"str"},{"label":"NV","value":"NV","type":"str"},{"label":"NH","value":"NH","type":"str"},{"label":"NJ","value":"NJ","type":"str"},{"label":"NM","value":"NM","type":"str"},{"label":"NY","value":"NY","type":"str"},{"label":"NC","value":"NC","type":"str"},{"label":"ND","value":"ND","type":"str"},{"label":"OH","value":"OH","type":"str"},{"label":"OK","value":"OK","type":"str"},{"label":"OR","value":"OR","type":"str"},{"label":"PA","value":"PA","type":"str"},{"label":"RI","value":"RI","type":"str"},{"label":"SC","value":"SC","type":"str"},{"label":"SD","value":"SD","type":"str"},{"label":"TN","value":"TN","type":"str"},{"label":"TX","value":"TX","type":"str"},{"label":"UT","value":"UT","type":"str"},{"label":"VT","value":"VT","type":"str"},{"label":"VA","value":"VA","type":"str"},{"label":"WA","value":"WA","type":"str"},{"label":"WV","value":"WV","type":"str"},{"label":"WI","value":"WI","type":"str"},{"label":"WY","value":"WY","type":"str"},{"label":"PR","value":"PR","type":"str"}],"payload":"","topic":"","x":70,"y":240,"wires":[["31682dad.e45542"]]},{"id":"31682dad.e45542","type":"debug","z":"638de424.ba160c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":260,"wires":[]},{"id":"a994a4ec.f85f38","type":"ui_group","z":"","name":"enter the values","tab":"f31f7c9.211398","order":1,"disp":true,"width":"6","collapse":false},{"id":"f31f7c9.211398","type":"ui_tab","z":"","name":"Churn Prediction","icon":"dashboard","disabled":false,"hidden":false}]